# Project place file
/PBS-Rewrite.rbxl*

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# WHILE IN DEVELOPMENT:
# Hide source files until we are ready to release
sync
# These files are managed by Azul

sourcemap-pkgs.json
sourcemap.json

# Pesde files
.pesde
*_packages

# Vitepress docs
node_modules
docs/.vitepress/dist
docs/.vitepress/cache