# Project place file
/PBS-Rewrite.rbxl*

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# WHILE IN DEVELOPMENT:
# Hide source files until we are ready to release
src/ReplicatedStorage/*
src/ServerScriptService/*
src/ServerStorage/*
# But keep the folders themselves
!src/ReplicatedStorage/.gitkeep
!src/ServerScriptService/.gitkeep
!src/ServerStorage/.gitkeep
# These files are managed by Argon

# Argon sourcemap
sourcemap.json

# Pesde files
.pesde
*_packages

# Vitepress docs
node_modules
docs/.vitepress/dist
docs/.vitepress/cache